*************************** 1. row ***************************
       Table: university
Create Table: CREATE TABLE `university` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '学校名称',
  `school_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '学校标识码',
  `supervisor` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '主管部门',
  `province` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '省份',
  `city` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '城市',
  `location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '所在地（完整）',
  `level` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '办学层次',
  `remarks` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '备注',
  `type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '学校类型',
  `school_nature` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '办学性质（公办/民办）',
  `tags` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '标签',
  `introduction` text COLLATE utf8mb4_unicode_ci COMMENT '学校简介',
  `address` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '详细地址',
  `website` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '官方网站',
  `phone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '联系电话',
  `min_score` int DEFAULT NULL COMMENT '最低录取分数',
  `max_score` int DEFAULT NULL COMMENT '最高录取分数',
  `logo_url` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Logo图片URL',
  `logo_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Logo本地路径',
  `ranking` int DEFAULT NULL COMMENT '排名',
  `rating` decimal(3,1) DEFAULT NULL COMMENT '评分',
  `features` text COLLATE utf8mb4_unicode_ci COMMENT '特色专业',
  `is_985` tinyint(1) DEFAULT '0' COMMENT '是否985高校',
  `is_211` tinyint(1) DEFAULT '0' COMMENT '是否211高校',
  `is_double_first_class` tinyint(1) DEFAULT '0' COMMENT '是否双一流高校',
  `created_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_name` (`name`),
  KEY `idx_province` (`province`),
  KEY `idx_level` (`level`),
  KEY `idx_score` (`min_score`,`max_score`),
  KEY `idx_school_code` (`school_code`),
  KEY `idx_supervisor` (`supervisor`),
  KEY `idx_school_nature` (`school_nature`),
  KEY `idx_985_211` (`is_985`,`is_211`,`is_double_first_class`)
) ENGINE=InnoDB AUTO_INCREMENT=2920 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='高校信息表'
