server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bicolorSphere?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  sql:
    init:
      mode: always
      encoding: UTF-8
      schema-locations: classpath:schema.sql

logging:
  level:
    root: INFO

app:
  ssq:
    autosync:
      enabled: true
      cron: "0 15 1 * * ?"
      syncPages: 2
    export:
      maxRows: 5000
